.contacto {
  margin-top: 2%;
  justify-content: center; }

.mapacontacto {
  display: flex;
  padding: 3% 0 3% 0%;
  height: 403px;
  width: 50%;
  margin: 0 auto; }

.horarios {
  font-weight: bold; }

.imgInicio {
  margin: 3%; }

.imagenesMenu img {
  display: inline;
  height: 25%;
  width: 25%;
  margin-left: 6%; }

.carousel-item {
  border: 3px black; }

.imagenesMenu video {
  display: inline;
  height: 5%;
  width: 25%;
  margin: 4%; }

.parrafoInicio {
  width: 88%;
  font-size: 13px;
  margin: 5%; }

.carrusel {
  width: 80%;
  height: 70%;
  margin: auto; }

.exampleClass {
  padding: 12px 24px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  overflow: hidden; }

.orange {
  color: orange; }

.nosotros {
  display: flex;
  margin-bottom: 10%; }

.h4proyectos {
  margin: 0% 4% 2% 4%; }

.obras {
  margin-top: 5px;
  font-size: 20px; }

.nuestrosservicios {
  width: 100%;
  display: grid;
  margin-left: 18%;
  grid-template-areas: "uno dos tres" "cuatro cinco seis";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center; }

.serviciostitulo {
  font-size: 23px; }

.imgservicios3 {
  width: 70%;
  height: 60%;
  margin-left: 15%; }

.listaservicio {
  padding-top: 2%;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  width: 80%; }

.servicio {
  padding-bottom: 8%;
  padding-right: 250px; }

.servicios {
  padding-right: 25%; }

.uno {
  grid-area: uno;
  width: 100%;
  /*  */
  text-align: center; }

.dos {
  grid-area: dos;
  width: 100%;
  text-align: center; }

.tres {
  grid-area: tres;
  width: 100%;
  text-align: center; }

.cuatro {
  grid-area: cuatro;
  width: 100%;
  text-align: center; }

.cinco {
  grid-area: cinco;
  width: 100%;
  text-align: center; }

.seis {
  grid-area: seis;
  width: 100%;
  text-align: center; }

.servicio img {
  width: 300px;
  height: 168px; }

.serviciosparrafo {
  margin: 0 14% 3% 10%; }

.galeria {
  padding-left: 10%;
  width: 100%; }

.parrafoservicios {
  width: 80%;
  margin: 0 auto; }

.parrafoservicios1 {
  margin: 0 auto;
  margin-top: 5%; }

.imgservicios1 {
  padding-top: 2%; }

.imgservicios2 {
  padding-top: 20%; }

.imgservicios3 {
  padding-top: 4%; }

.error {
  color: white; }

.fondoerror {
  background-color: #6969b3; }

.volver {
  display: block;
  margin: 0 auto;
  width: 20%; }

.center {
  text-align: center; }

.borde {
  border: solid 3px black; }

.estilos {
  list-style: none;
  color: black; }

.ancho33 {
  width: 30%;
  margin: 0 auto; }

.ancho50 {
  width: 50%;
  margin: 0 auto; }

.ancho80 {
  width: 80%;
  margin: 0 auto; }

.ancho100 {
  width: 100%;
  margin: 0 auto; }

.padding {
  padding: 5%; }

.margin {
  margin: 5%; }

p {
  color: black;
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.container-fluid {
  padding: 0; }

.minilogo {
  margin: 0 auto;
  width: 16px;
  height: 18px;
  margin-right: 5px;
  margin-bottom: 8px; }

.navv {
  background-color: #585656; }

.logo {
  margin-right: -7%; }

h1 {
  color: black;
  margin: 5%; }

h2 {
  color: black;
  margin: 4%; }

.listaproyecto {
  color: black; }

.navbar-collapse {
  justify-content: center; }
