@import 'components/contacto';
@import 'components/index';
@import 'components/nosotros';
@import 'components/nuestrosproyectos';
@import 'components/servicios';
@import 'components/404';
@import 'base/variables';
@import 'base/extend';
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
@extend %parrafos;
}
.container-fluid{
    padding:0;
}
.navv{
    background-color: $color-principal;
    
}
.logo{
    width: 50px;
    height: 50px;
}
h1{
    color:$color-texto;
    margin: 5%;
}
h2{
    color:$color-texto;
    
    margin: 4%;
}
.listaproyecto{
    color:$color-texto;
}
footer{
    display: flex;  
    color:$color-principal;

    color: white;
    background-color: $color-principal;
    .asd{
        display:inline;
    }
    .copy {
        margin-top: 0%;
        color: white;
        a{
            font-size: 15px;
            margin: 5%;
            color: white;
            margin-top: 2%;
            list-style: none;
            text-decoration: none;
            }
        i{
            padding-left: 8%;
            margin-top: 2%;
            font-size: 20px; 
        }
    }
    .copylink{
        color:$color-texto;
    }

}



.navbar-collapse{
    justify-content: center;
}