.contacto{
    margin-top: 2%;
justify-content: center;
}
.mapacontacto{
    display: flex;
    padding: 3% 0 3% 0%;
    height: 403px;
    width: 50%;
    margin: 0 auto;
}

.numeros{
    padding-left: 2%;
font-size: 15px;
width: 6%;
}