.imgInicio{
    margin:3%;
}
.imagenesMenu img{
    display: inline;
    height:  25%;
    width: 25%;
    margin-left: 6%;
}
.carousel-item{
    border: 3px black ;
}
.imagenesMenu video{
    display: inline;
    height: 5%;
    width: 25%;
    margin: 4%;
}

.parrafoInicio{
    width: 88%;
    font-size: 24px;
    margin: 5%;
}
.carrusel{
    width: 80%;
    height: 70%;
    margin: auto;
}

.exampleClass {
    padding: 12px 24px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.orange{
    color: orange;
}
@media screen and (max-width: 400px){
    .parrafoInicio{
    font-size:17px;
    }

}