.navbar-collapse{
    padding-left: 10%;
}
.container-fluid{
    padding:0;
}

.navv{

    background-color: $color-principal;

}

.logo{
    margin-right: -7%;
}


.navbar-collapse{
    justify-content: center;

    margin-left:-9%;
}