
.nosotros{
    display: flex;
margin-bottom: 10%;
font-size: 17px;
}
@media screen and (max-width: 400px){
    .nosotrosfoto{
        padding: 5%;
    }
    .nosotros{

        width: 100%;
        justify-content: center;
        font-size: 15px;
    }

}