.h4proyectos{
margin: 0 5% 3% 5%;
font-size: 24px;

}
.obras{
    font-size: 20px;   
    
}


@media screen and (max-width: 400px){
    .h4proyectos{
    font-size:17px;
    }

    .listaproyectos{
        font-size:15px;

    }
}
.listaproyecto{
    color:black;
}