
.nuestrosservicios{
    width: 100%;
    display: grid;
    margin-left: 18%;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis";
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center; 
   
   
}  

.serviciostitulo{
    font-size: 23px;
}
.imgservicios3{

    width: 70%;
    height: 60%;
    margin-left: 15%;

}
.actividades{
    text-align: left;
    margin:0 auto;
    padding-left: 5%;
}
.listaservicio{
    padding-top: 2%;
    display:inline-block;
    margin: 0 auto;
text-align: left;
width: 80%;

}
.servicio{
    padding-bottom: 8%;
    padding-right: 250px;
}
.servicios{

    padding-right: 25%;

}
.uno{
    grid-area: uno;
    width: 100%;/*  */
    text-align: center;
    
}
.dos{
    grid-area: dos;
    width: 100%;
    text-align: center;

}
.tres{ 
    grid-area:tres;
    width: 100%;
    text-align: center;

}

.cuatro{
    grid-area: cuatro;
    width: 100%;
    text-align: center;

}
.cinco{
    grid-area: cinco;
    width: 100%;
    text-align: center;

}
.seis{ 
    grid-area:seis;
    width: 100%;
    text-align: center;
} 
.servicio img{
    width:300px;
    height: 168px;
}

.serviciosparrafo{
    margin: 0 14% 3% 10%;
}

.galeria{
    padding-left: 10%;
    width: 100%;
}
.parrafoservicios{
    width: 80%;
    margin: 0 auto;
}

.parrafoservicios1{
    margin:0 auto;
    margin-top: 5%;
}

.imgservicios1{
padding-top: 2%;
}

.imgservicios2{
    padding-top: 20%;
    }
.imgservicios3{
        padding-top: 4%;
        
    }
    .servicioslistas{
        padding-left: 15%;
    }