body {
	background: url("../images/bg.jpg") repeat scroll 50% 0 #130E0A;
	color: #3A3A3A;
	line-height:160%;
	font-size:13px;
}

.wrapper960 {

}
.container {
}

h2, h2 a:link, h2 a:visited {
	font-size:26px;
	line-height: 22px;
	font-weight: normal;
	margin:5px 0;
}
a {
	color:#333;
}
a:hover {color:#888;}

/* ----[ CONTAINER DIVS ]----*/
#container_header {
	height:195px;
	background: url("../images/hornav.png") no-repeat scroll 50% 100% transparent
}
#container_spacer1 {
	background: url(../images/content_top.png) 50% 0 no-repeat;
	height:23px;
}
#container_slideshow {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
}
#container_spacer2 {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
	height:5px;
}
#container_breadcrumb {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
}
#container_top_modules {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
}
#container_main {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
}
#container_bottom_modules {
	background: url(../images/content_bg.png) 50% 0 repeat-y;
}
#container_spacer3 {
	background: url(../images/base_bg.png) 50% 0 repeat-y;
	height:18px;
}
#container_base {
	padding-top: 10px;
}	

/* ----[ WRAPPER DIVS ]----*/
#header {}
#slideshow {}
#breadcrumb {}
#top_modules {}
#main {}
#bottom_modules {}
#base {}

#container_spacer2 .wrapper960 {
	height:5px;
}


/* ----[ HEADER ]----*/
#header_items {
	height:142px;
}
/* Logo */
.logo_container {
	width:550px; 
	top:0px; 
	left:0px; 
}

.logo_container, h1.logo, h1.logo a {
	height:140px;
}
h1.logo-text a {
	color: #F5F5F5;
	letter-spacing:-1px; 
	top:16px; 
	left:35px; 
	font-size:58px; 
	font-weight:normal; 
	text-shadow: 0 0 1px #fff;
	text-align:left; 
}
p.site-slogan {
	color:#ffffff;
	font-size:11px; 
	letter-spacing:4px; 
	top:18px; 
	left:35px; 
	text-align:left; 
	margin:0px;
}

/* Search */
#search {
	top:150px;
	left:700px;
}
#search .inputbox {
	color:#888;
	font:14px Arial,Helvetica,sans-serif;
}

/* Social Media */
#socialmedia {
	top:105px;
	left:665px;
}


/* ----[ MENUS ]----*/

/* Hornav */
#hornav {padding-left:30px;}

/* Hornav - Parent Styling */ 
#hornav ul a, #hornav ul ul a, #hornav .separator {line-height:40px; }
#hornav li:first-child a {border: none;}
#hornav ul a, #hornav .separator {
	border-left:1px dotted #bbb;
	display:block;
	font-size:14px; 
	padding: 0 15px; 
	text-decoration: none; 
	z-index: 9999; 
	margin-bottom: 0px /*dropdown gap*/;
}
#hornav ul ul a {line-height:20px; padding: 1px 10px;}

/* Hornav - Child Styling */
#hornav li li a, #hornav li li.active a, #hornav li li.visited a {color:#555555 !important;}

/* Hornav - Child Block Styling */
#hornav li li, #hornav li li li {padding: 2px 0px 4px !important;}
#hornav li li:last-child, #hornav li li li:last-child {background:none !important;}

/* Hornav - Dropdown Block Styling */
#hornav ul li ul {
	background-color: #eeeeee;
	-moz-border-radius:0px 0px 5px 5px; 
	-webkit-border-bottom-left-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
	border-radius:0px 0px 5px 5px;  
}

/* Hornav - Sub-Child Block Styling */
#hornav li ul li ul {
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; padding:5px;
}

/* Hornav - Hover/Highlight Styling */
#hornav ul a:hover, #hornav ul ul a:hover {color:#888;}
#hornav li li a:hover {color:#888;}

/* MenuMatic */
#subMenusContainer a {
	text-decoration:none;
	display:block;
	padding:8px 25px 8px 15px;
	color:#555; 
	font-size:13px; 
	text-shadow:none; 
	/*background:url("../images/sep2.png") repeat-x 50% 100%;*/ 
	border-bottom:1px dashed #ddd;
	cursor:pointer; 
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, #subMenusContainer a:focus, #subMenusContainer a.subMenuParentBtnFocused {color:#888}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn { background: url(../images/arrow_right.png) right center no-repeat !important;  }

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{background: url(../images/arrow_right_over.png) right center no-repeat;  }

/* Parent Main Menu Links ---[javascript users only]*/
#hornav .mainMenuParentBtn{background: url(../images/arrow_down.png) right 57% no-repeat; padding-right:18px;}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
#hornav .mainMenuParentBtnFocused{background: url(../images/arrow_down_over.png) right 57% no-repeat; padding-right:18px;}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{display:none; position: absolute; overflow:hidden; padding:0 2px; margin:0 0 0 -2px;}

/* All ULs and OLs */
#subMenusContainer ul, #subMenusContainer ol {padding: 0; margin: 0; list-style: none; line-height: 1em; min-width:170px;}

/* All submenu OLs and ULs */
#subMenusContainer ul, #subMenusContainer ol {
	back-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius:4px; 
	border:1px solid #ddd; 
	left:0; 
	padding-bottom:5px;}
#subMenusContainer{top:5px;}

/* ----[ SLIDESHOW ]----*/
#showcase {
	padding-top:6px;
	border-radius: 8px;
}
#container_slideshow .box_skitter {width:910px !important;}

/* ----[ BREADCRUMBS ]----*/
/* Styling */	
#breadcrumb {
}
#breadcrumb img {
	vertical-align: baseline;
}

/* ----[ DEFAULT MODULE STYLING ]----*/
/* Module Styling */
.module h3, .module_menu h3 {
	font-size:16px;
	line-height: 15px;
	font-weight:normal;
	background: url("../images/sep1.png") repeat-x scroll 50% 100% transparent;
	padding-bottom:10px;
}
.module, .module_menu{
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
}

/* Module Styling - Menus */
.module ul.menu a, .module_menu ul.menu a {
	color:#333;
	padding:8px 15px;
	margin:0px -10px;
	background: url("../images/bullet1.png") no-repeat scroll 10px center transparent;
	padding-left:32px;
	font-size:14px;
}
.module ul.menu li, .module_menu ul.menu li {
background: url("../images/sep2.png") repeat-x scroll 50% 100% transparent;
}
.module ul li li, .module_menu ul li li {
background: none;
}
.module ul a:hover, .module_menu ul a:hover, .module ul a:focus, .module_menu ul a:focus {color:#999;
}
.module ul li li a, .module_menu ul li li a {
	border:none;
	padding-left:45px !important;
	background:none;
}
.module ul li li a, .module_menu ul li li a {
	padding:4px 30px;
	color:#888;
}
.module ul li li a:hover, .module_menu ul li li a:hover {
	color:#888;
}
.module ul ul, .module_menu ul ul {
	margin-top:-4px;
	padding-bottom:5px;
	margin-bottom:0px;
}
.module ul li:last-child a, .module_menu ul li:last-child a {
}
#joomla51 {margin:0 auto; padding:5px 0 15px 0;}
#joomla51 a {color: #777;}
/* Footer Menu */
#footermenu {
}
#footermenu ul li{
	padding: 5px 0;
}
#footermenu ul li a {
	color:#555;
	font-size:13px;
	border-right: 1px solid #888;
    padding: 0 10px;
    text-shadow: 0px 0px 1px #fff;
}
#footermenu ul li a:hover {
	color:#000;
}

/** MB TOP **/
/*--Top Modules Divs--*/	
#top_modules {}	

/* MB Top-1 */

/* MB Top-2 */

/** MAINCONTENT **/
#content_full, #content_remainder{
	padding:0px;
}
.contenttop .module h3, .contenttop .module_menu h3, .contentbottom .module h3, .contentbottom .module_menu h3 {
	background: none;
	padding-bottom:0px;
}
.contenttop .module, .contenttop .module_menu, .contentbottom .module, .contentbottom .module_menu {
	background: none;
	border: none;
	border-radius: 5px 5px 5px 5px;
}
.contentbottom .module_padding, .contenttop .module_padding {
	padding:0px;
}
/* Sidecol A & B */
.sidecol_block .module h3, .sidecol_block .module_menu h3 {
	background: none;
	padding-bottom:0px;
}
.sidecol_block .module ul.menu li:first-child a, .sidecol_block .module_menu ul.menu li:first-child a {
	background: url("../images/bullet1.png") no-repeat scroll 10px 2px transparent;
	padding-top:0px;
}
.sidecol_block .module, .sidecol_block .module_menu{
	margin-bottom:10px;
}
.sidecol_block .module, .sidecol_block .module_menu{
	background: none;
	border: none;
}

/** MB BOTTOM **/

/* MB Bottom-1 */

/* MB Bottom-2 */

/* MB BASE */
#base {

}
#base .module {
	background: #eaeaea;
}

/* MB Base-1 */

/* MB Base-2 */

/* Footers */

/* Copyright */
 #copyright {
	color:#555;
	font-size:13px;
 	text-shadow: 0px 0px 1px #fff;
	padding:5px;
 }
 #copyright a {
 color:#bbb;
 }

/* Read More */
.readon, .readmore a {
background: #c4c4c4;
background-image: -moz-linear-gradient(center top , #eaeaea, #dcdcdc);
background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#dcdcdc));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dcdcdc');
border-color:#ccc;
-moz-border-radius:0px 0px 5px 5px; -webkit-radius: 5px; border-radius:5px;
border-style:solid;
border-width:1px;
font-size:11px;
font-weight:bold;
color:#666;
}

